.slideshow-container {
    max-width: 600px;
    position: relative;
    margin: 0 auto;
  }
  
  .slide {
    display: none;
  }
  
  .slide img {
    width: 100%;
    height: auto;
  }
  
  * {box-sizing: border-box;
    padding: 0;
    margin:0;}
  body {font-family: Verdana, sans-serif; margin:0}
  .mySlides {display: none}
  img {vertical-align: middle;}
  
  
  label{
    font-family: "Lexend";
    font-size: 25px;
    color: #ffffff;
  }
  
  
  .Login{
    width: 400px;
    height: 600px;
    background-color:rgb(0,0,0,.6);
     margin:auto;
     color:#FFFFFF;
     padding:10x 0px 10px 0px;
     text-align: center;
     border-radius:12px 12px 12px 12px;
  
    }
  
    .form input{
    
      font-family: "Lexend";
     outline: 1;
     background: #ffffff;
     width: 60%;
     border: 2px solid white;
     margin: 0 0 15px;
     padding: 10px;
     box-sizing: border-box;
     border-radius: 25px;
       font-size: 14px;
  }  
  button{
       background-color:#3BAF9F;
     display:block;
     margin:20px 0px 20px;
     text-align:center;
     border-radius:25px;
     border:2px solid #366473;
     padding:10px 20px;
     outline:none;
     color:white;
     cursor:pointer;
     transition:0.25px;
     }
    button:hover{
                  background-color:#108E75;
            }
           body {
            background: url('../IMG/k.jpg');
            background-position: center;
            background-size: cover;
            font-family: "Lexend";
            margin-top: 80px;
            background-repeat: no-repeat;
            }  
            
  
  