
*{
  box-sizing: border-box
}


.topic
{
  color: #c87828;
  padding-top: 100px;
  font-family: 'Lexend';
  font-size: 40px;
  text-align: center;

}

.main
{
  color: #ffffff;
  padding-top: 20px;
  font-family: 'Lexend';
  font-size: 18px;
  padding-left: 50px;
  padding-right: 50px;
}

.contain
{
  color: #ffffff;
  font-family: 'Lexend';
  font-size: 18px;
  padding-left: 50px;
  padding-right: 50px;
  
}
.contct{
  color: #ffffff;
  font-size: 15px;
  font-family: 'Lexend';
  padding-bottom: 30px;
}




